<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xixin.mapper.CheckitemMapper">

    <select id="selectCheckitems" resultType="com.example.xixin.entity.Cireport">
        select ciId , ciName from checkitem where ciId IN (select ciId from setmealdetailed where smId = #{smId})

    </select>
</mapper>
